<!DOCTYPE html>
<html>
<head>
  <title>MySimpleRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="">
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <h2><font color="white"> GCAMP!</font></h2>
      <h2 align="right"> <font color="white"> hi </font> </h2>
    </div>
  </nav>


  <div class="alert alert-success" role="alert"> ALERT!!! </div>

  <div class="page-header">
  <h1> <center> Edozie Izegbu </center><small> </small></h1>
   </div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#"> Home</a> </li>
    <li role="presentation" class="active"><a href="#">  Profile </a> </li>
    <li role="presentation" class="active"><a href="#">  Messages </a> </li>
  </ul>

  <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="active">Messages</li>
  </ol>

  <div class="container">
  <div class="jumbotron"><h1>Every boddyyy , yea yea!</h1>
  <div class= "lead">This is some lead text </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"> This is the panel</div>
  <div class="panel-body">
    I GOTS STUFF IN HERE
  </div>
</div>
 <div class="row">
<div class="col-lg-6"> <p>Hello everyone I have a large array of images and files which I like to use on a daily basis</p></div>
<div class="col-lg-6"> <p>Hello everyone I have a large array of images and files which I like to use on a daily basis</p></div>
</div>

<div class="well">Hello this is a well</div>

<div class="row">
<div class="col-md-4"> <p>Hello everyone I have a large array of images and files which I like to use on a daily basis</p></div>
<div class="col-md-4"> <p>Hello everyone I have a large array of images and files which I like to use on a daily basis</p></div>
<div class="col-md-4"> <p>Hello everyone I have a large array of images and files which I like to use on a daily basis</p></div>

</div>

  <table class="table table-bordered table-striped">
   <tr>
   <th> First Name</th>
   <th> Last </th>
   <th> Age </th>

   </tr>
    <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</tabl

  </table>

</body>
</html>
